/*These can be reused.*/
.container{
  padding: 0 2%;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  text-align: center;
}

body{
  margin: 0;
}

*{
  box-sizing: border-box;
}

h1, h2, h3, p{
  text-align: center;
}

p{
  font-size: 16px;
}

ul, li{
  list-style-type: none;
  padding: 0;
}

a{
  text-decoration: none;
}

.screen-reader{
  display: none;
}

.vertical-align{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Header*/
header{
  margin: 20px 20px 10px 20px;
  display: flex;  
}

.header-logo{
  order: 1;
}

.header-logo img{
  max-width: 120px;
}

.header-cart{
  order: 3;
  position: relative;
}

.header-cart img{
  text-align: right;
  max-width: 48px;
}

.main-nav{
  margin: 0 auto;
  max-width: 60%;
  padding: 0 30px;
  order: 2;
  display: inline-block;
}

.main-nav li{
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 15px;
  margin: 0;
}

.main-nav a{
  color: #e2574c;
} 

.main-nav a:hover{
  color: #b64036;
} 

/*Top Banner*/
.top-banner{
  height: 400px;
  background: linear-gradient( rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url("images/banner-girl.png")no-repeat bottom, url("images/flower-bkgd.jpg")no-repeat center;
  background-size: cover, 130px, cover;
}

.top-banner p{
  color: white;
}

#title{
  font-size: 3.8em;
  padding-bottom: 0;
}

#subtitle{
  font-size: 1.7em;
}

/*about*/



/*shop*/
.shop{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.shop-wide{
  width: 50%;
}

.shop-square{
  width: 25%;
}

.mens{
  background: url("images/mens-category.jpg") no-repeat center;
  background-size: cover;
  height: 250px;
}

.trends{
  background: url("images/trends-category.jpg") no-repeat center;
  background-size: cover;
  height: 250px;
}

.glasses{
  background: url("images/glasses-category.jpg") no-repeat center;
  background-size: cover;
  height: 250px;
}

.sale{
  background: url("images/sale-category.jpg") no-repeat center;
  background-size: cover;
  height: 250px;
}

.bags{
  background: url("images/bags-category.jpg") no-repeat center;
  background-size: cover;
  height: 250px;
}

.womens{
  background: url("images/womens-category.jpg") no-repeat center;
  background-size: cover;
  height: 250px;
}



/*featured*/



/*updates*/
.updates{
  background: linear-gradient( rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("images/wave-bkgd.jpg") no-repeat center bottom;
  background-size: cover, cover;
  height: 300px;
}

.updates-text h2, .updates-text p{
  color: white;
}

.updates-form{
  text-align: center;
}

/*footer*/
footer{
  background-color: #242424;
}

.footer-text{
  display: flex;
}

.contact{
  display: inline-block;
}

.contact p{
  text-align: left;
  color: white;
}

.social-media{
  align-self: right;
  display: inline-block;
}




------------------------------------------------------------------

p{
  font-size: 16px;
  font-family: 'Raleway-Light-web', sans-serif;
}

h2{
  font-family: 'PlayfairDisplay-Italic-web', serif;
  font-size: 2.4rem;
  font-weight: 200;
}

h3{
  font-family: 'PlayfairDisplay-Regular-web', serif;
  font-size: 1.5rem;
}

.heavy{
    font-family: 'PlayfairDisplay-Bold-web', serif;

}





/*Header*/









.main-nav{

  
  order: 2;
  
}

.main-nav li{
  font-family: 'Raleway-Medium-web', sans-serif;
  
  display: inline-block;
  
  padding: 0 15px;
  margin: 0;
}



/*Top Banner*/
.top-banner{
  
}

.top-banner p{
  color: white;
}

#subtitle{
  font-family: 'Raleway-Medium-web', sans-serif;
  font-size: 1.3rem;
  margin-bottom: 15px;
}

#title{
  font-family: 'PlayfairDisplay-Regular-web', sans-serif;
  font-size: 3rem;
  margin-top:15px;
}

/*about*/



/*shop*/
.shop{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop-wide{
  width: 50%;
}

.shop-square{
  width: 25%;
}

.shop div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-text{
  font-family: 'Raleway-Medium-web', sans-serif;
  font-size: 2rem;
  color: white;
}





/*featured*/
/*updates*/
.updates{
  background: linear-gradient( rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("images/wave-bkgd.jpg") no-repeat center bottom;
  background-size: cover, cover;
  height: 300px;
}

.updates-text h2, .updates-text p{
  color: white;
}

.updates-form{
  text-align: center;
}

/*footer*/
footer{
  background-color: #242424;
}

.footer-text{
  display: flex;
}

.contact{
  display: inline-block;
}

.contact p{
  text-align: left;
  color: white;
}

.social-media{
  align-self: right;
  display: inline-block;
}
