/*mobile view*/
/*global - body style*/
.container{
  width: 100%;
  margin: 0 auto;
}
.container-maxwidth{
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
  padding: 3%;
}
*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*screen reader style*/
.screen-reader{
   clip: rect(1px, 1px, 1px, 1px);
   position: absolute !important;
   height: 1px;
   width: 1px;
   overflow: hidden;
}
.screen-reader:focus {
   clip: auto !important;
   display: block;
   height: auto;
   left: 5px;
   top: 5px;
   width: auto;
   z-index: 100000; /* above all content */
   outline: 0;
}
/*global - font style*/
html{
  font-size: 14px;
}
body{
  font-family: 'Raleway-web', sans-serif;
  color: #2d2d2d;
}
h1, h2, h3{
  font-family: 'PlayfairDisplay-web', serif;
}
p{
  font-weight: 300;
  font-style: normal;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2.3rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}
h3{
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  color: #db3a26;
}
.heavy{
  font-weight: 700;
  font-style: normal;
}
.shadow{
  text-shadow: rgba(0,0,0,0.6) 1px 1px 6px;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.text-white-center{
  color: white;
  text-align: center;
}
.content-center{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.description{
  font-size: 1.2rem;
  line-height: 1.9rem;
  padding: 0 3px;
  text-align: center;
  margin-top: 2px;
}

/*mobile - header style*/
.header-fixed{
  background-color: white;
  -webkit-box-shadow: rgba(0,0,0,0.4) 1px 0px 6px;
  box-shadow: rgba(0,0,0,0.4) 1px 0px 6px;
  z-index: 1;
  top: 0;
  position: fixed;
  height: 129px;
}
.header-fixed-content{
  padding-top: 18px;
  margin-top: 0;
}
.header-logo{
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.header-cart{
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.main-nav{
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  border-top: solid 0.5px #d7d7d7;
  margin-top: 8px;
}
.header-logo img{
  max-width: 120px;
}
.header-cart img{
  max-width: 48px;
}
.header-cart a{
  position: relative;
}
.cart-total-item{
  background-color: #db3a26;
  width: 25px;
  height: 25px;
  -moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 4px;
  position: absolute;
  top: -8px;
  right: -3px;
  display: none;
}

.main-nav ul{
  margin: 0;
  padding-left: 0;
  text-align: center;
}
.main-nav li{
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  margin: 17px 12px 0 12px;
}
.main-nav a{
  color: #db3a26;
} 
.main-nav a:hover{
  color: #b64036;
} 

/*mobile - article style*/
.main-content{
  top: 129px;
  margin-top: 129px;
}

/*mobile - top banner style*/
.top-banner{
  height: 400px;
  background: -webkit-gradient( linear,left top, left bottom,from(rgba(0, 0, 0, 0.3)),to(rgba(0, 0, 0, 0.3))),url("../images/banner-girl.png")no-repeat bottom, url("../images/flower-bkgd.jpg")no-repeat center;
  background: -webkit-linear-gradient( rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url("../images/banner-girl.png")no-repeat bottom, url("../images/flower-bkgd.jpg")no-repeat center;
  background: -o-linear-gradient( rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url("../images/banner-girl.png")no-repeat bottom, url("../images/flower-bkgd.jpg")no-repeat center;
  background: linear-gradient( rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url("../images/banner-girl.png")no-repeat bottom, url("../images/flower-bkgd.jpg")no-repeat center;
  background-size: cover, 150px, cover;
}
.banner-subtitle{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.3rem;
  margin: 0 0 15px 0;
}
.banner-title{
  font-family: 'PlayfairDisplay-web', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  margin: 15px 0 0 0;
}

/*mobile - about style*/
.about{
  margin-top: 50px;
  margin-bottom: 50px;
}

/*mobile - shop style*/
.shop-wide{
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
.shop-square{
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.shop-wide, .shop-square{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: solid 4px white;
  border-bottom: solid 4px white;
}
.shop-text{
  font-family: 'Raleway-web', sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.shop-text:hover{
  color: #f5ebc6;
}
.category{
  width: 100%;
  position: relative;
}
.mens, .womens{
  padding-top: 50%;
}
.trends, .glasses, .sale, .bags{
  padding-top: 100%;
}
.trends, .sale{
  border-right: solid 4px white;
}
.glasses, .bags{
  border-left: solid 4px white;
}
.mens{
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../images/mens-category.jpg") no-repeat center;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/mens-category.jpg") no-repeat center;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/mens-category.jpg") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/mens-category.jpg") no-repeat center;
  background-size: cover, cover;
}
.trends{
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../images/trends-category.jpg") no-repeat center;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/trends-category.jpg") no-repeat center;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/trends-category.jpg") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/trends-category.jpg") no-repeat center;
  background-size: cover, cover;
}
.glasses{
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../images/glasses-category.jpg") no-repeat center;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/glasses-category.jpg") no-repeat center;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/glasses-category.jpg") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/glasses-category.jpg") no-repeat center;
  background-size: cover, cover;
}
.sale{
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../images/sale-category.jpg") no-repeat center;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/sale-category.jpg") no-repeat center;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/sale-category.jpg") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/sale-category.jpg") no-repeat center;
  background-size: cover, cover;
}
.bags{
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../images/bags-category.jpg") no-repeat center;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/bags-category.jpg") no-repeat center;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/bags-category.jpg") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/bags-category.jpg") no-repeat center;
  background-size: cover, cover;
}
.womens{
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../images/womens-category.jpg") no-repeat center;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/womens-category.jpg") no-repeat center;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/womens-category.jpg") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/womens-category.jpg") no-repeat center;
  background-size: cover, cover;
}

/*mobile - featured style*/
.shop{
  margin-bottom: 10%;
}
.featured{
  text-align: center;
}
.featured h3{
  margin-top: 0;
}
.featured p{
  color: #969696;
}
.featured-category{
  font-size: 0.9rem;
}
.featured-price{
  font-weight: 600;
}
.btn-addtocart{
  font-family: 'Raleway-web', sans-serif;
  font-style: normal;
  font-size: 1rem;
  background-color: black;
  color: white;
  text-align: center;
  padding: 4px 18px;
  border: none;
  -moz-border-radius: 28px;
	-webkit-border-radius: 28px;
  border-radius: 28px;
  height: 28px;
  margin-top: 3%;
}
.btn-addtocart:hover{
  background-color: #0f87a2;
}

/*mobile - carousel style*/
.carousel {
  background: white;
  padding-bottom: 5%;
}
.flickity-viewport{
  margin-bottom: 3%;
}
.carousel-cell {
  width: 100%;
  height: auto;
  border: 4px solid white;
  counter-increment: carousel-cell;
}
.carousel-cell img{
  width: 55%;
}

/*mobile - updates style*/
.updates{
  background: -webkit-gradient( linear,left top, left bottom,from(rgba(0, 0, 0, 0.3)),to(rgba(0, 0, 0, 0.3))), url("../images/wave-bkgd.jpg") no-repeat center bottom;
  background: -webkit-linear-gradient( rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("../images/wave-bkgd.jpg") no-repeat center bottom;
  background: -o-linear-gradient( rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("../images/wave-bkgd.jpg") no-repeat center bottom;
  background: linear-gradient( rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("../images/wave-bkgd.jpg") no-repeat center bottom;
  background-size: cover, 200%;
  height: 340px;
}
.updates h2{
  margin-top: 0;
}
.updates-form{
  font-family: 'Raleway-web', sans-serif;
  font-style: normal;
  font-size: 1.1rem;
  background-color: white;
  border: solid 1px #d7d7d7;
  -moz-border-radius: 40px;
	-webkit-border-radius: 40px;
  border-radius: 40px;
  margin: 0 auto;
  width: 85%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
input[type=email]{
  color: #969696;
  font-weight: 300;
  margin-left: 20px;
  width: 70%;
  border: none;
}
input[type=submit]{
  background-color: #db3a26;
  font-weight: 500;
  border: 0;
  -moz-border-radius: 40px;
	-webkit-border-radius: 40px;
  border-radius: 40px;
  width: 30%;
  height: 40px;
  margin-right: 5px;
}
input[type=submit]:hover{
  background-color: #b64036;
}

/*mobile - footer style*/
.container-footer{
  width: 100%;
  margin: 0 auto;
  background-color: #242424;
}
.site-footer{
  color: white;
  padding: 50px 0;
  margin-top: 7px;
}
.site-footer a{
  color: white;
}
.site-footer a:hover{
  color: #db3a26;
}
.footer-contact p{
  font-family: 'PlayfairDisplay-web', sans-serif;
  text-align: center;
  margin: 3px;
}
.phone-email a{
  text-decoration: underline;
}
.address p{
  color: #969696;
}
.footer-contact, .footer-social-media{
  width: 100%;
}
.copyright, .phone-email{
  margin-bottom: 20px;
}
.footer-social-media-content{
  padding: 0;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer-social-media-content li{
  display: inline-block;
  margin: 30px;
}
.social-media-text{
  display: none;
  font-weight: 300;
}

/*tablet view*/
@media screen and (min-width: 600px) {
  /*tablet - global - body style*/
  html{
    font-size: 16px;
  }
  .container-maxwidth{
    max-width: 1240px;
  }
  .content-tablet{
    margin: 0 auto;
    max-width: 750px;
    padding-left: 3%;
    padding-right: 3%;
  }

  /*tablet - header style*/
  .header-fixed{
    height: 88px;
  }
  header .content-center{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .header-logo{
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .header-cart{
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .main-nav{
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    border: none;
  }
  .main-nav li{
    margin: 0 2.5%;
  }
   
  /*tablet - article style*/
  .main-content{
    margin-top: 88px;
    margin-top: 88px;
  }

  /*tablet - top banner style*/
  .banner-title{
    font-size: 3rem;
  }

  /*tablet - shop style*/
  .shop-wide{
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .shop-square{
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
  .mens, .bags{
    border-right: solid 4px white;
  }
  .trends, .womens{
    border-left: solid 4px white;
  }

  /*tablet - featured style*/
  .btn-addtocart{
    padding: 5px 20px;
    border-radius: 35px;
    height: 35px;
  }
  .carousel-cell {
    width: 50%;
  }
  .carousel-cell img{
    width: 80%;
  }

  /*tablet - footer style*/
  .site-footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    padding-left: 3%;
    padding-right: 3%;
  }
  .footer-contact{
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
  }
  .footer-social-media{
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .footer-contact p{
    text-align: left;
  }
  .footer-social-media-content{
    display: block;
    margin: 0;
  }
  .footer-social-media-content li{
    display: block;
    margin: 0 0 30px 0;
  }
  .footer-social-media-content li:last-child{
    margin-bottom: 0;
  }
  .footer-social-media-content i{
    text-align: left;
  }
  .social-media-text{
    display: inline-block;
  }
}

/*desktop view*/
@media screen and (min-width: 1240px) {
  /*desktop - top banner style*/
  .top-banner{
    height: 550px;
  }
  .top-banner{
    background-size: cover, 210px, cover;
  }

  /*desktop - shop style*/
  .shop{
    margin-bottom: 5%;
  }  
  .carousel {
    padding-bottom: 2%;
  }
  .carousel-cell {
    width: 25%;
  }

  /*desktop - footer style*/
  .site-footer{
    width: 100%;
    margin: 0 auto;
    max-width: 1240px;
    padding: 3%;
  }
}